<section section-id="<%=id%>" class="sectionViewBoxContainer">
	<div class="controls">
		<div class="move" title="Drag and Drop to Rearrange">
			<div class="move-explanation">Drag and Drop to Rearrange</div>
		</div>
		<div class="delete" title="Delete Section">
			<div class="delete-explanation">Delete Section</div>
		</div>
	</div>
	<!--<div class="expand"></div>-->
	<div class="disabledTextArea"></div>
	<textarea class="sectionTextArea canChangeFormatting" placeholder="<%=placeholder%>">sectionTextArea</textarea>
	<span class="glyphicon glyphicon-move pull-right"></span>
	<!--<div class="moreText">&middot;&middot;&middot;</div>-->
	<div class="sectionViewBoxFooter <%=color%>">
		<div class="sectionViewBoxFooterNumber"><%=footerNumber%></div>
		<div class="sectionViewBoxFooterTitleAndCount">
			<div class="sectionViewBoxFooterSectionTitle"><%=sectionTitle%></div> <div class="titleCountSeparator">|</div> <div class="sectionViewBoxFooterWordCount">sectionViewBoxFooterWordCount<div class="clear-fix"></div></div>
		</div>
	</div>
</section>