
<script type="text/javascript">

    function logout()
    {
        gapi.auth.signOut();
        location.reload();
    }
    function loginCallback(result)
    {
        if(result['status']['signed_in'])
        {
           server_data={"access_token":result.access_token,"token_type": "Bearer","expires_in": "3600","id_token":result.id_token};

            $.post( "../writewell_production/public/signin", server_data, function( data ) {

            }, "json");

        /*
            var request = gapi.client.plus.people.get(
                    {
                        'userId': 'me'
                    });
            request.execute(function (resp)
            {
                var email = '';
                if(resp['emails'])
                {
                    for(i = 0; i < resp['emails'].length; i++)
                    {
                        if(resp['emails'][i]['type'] == 'account')
                        {
                            email = resp['emails'][i]['value'];
                        }
                    }
                }

                var str = "Name:" + resp['displayName'] + "<br>";
                str += "Image:" + resp['image']['url'] + "<br>";
                str += "<img src='" + resp['image']['url'] + "' /><br>";

                str += "URL:" + resp['url'] + "<br>";
                str += "Email:" + email + "<br>";
                document.getElementById("profile").innerHTML = str;
            });
*/
        }

    }


    function onLoadCallback()
    {
        gapi.client.setApiKey('Fquq4SA_uqnUtgk7OdBY8zjb');
        gapi.client.load('plus', 'v1',function(){});
    }

</script>

<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
<div>
	<h1 class="hidden">Some Content</h1>
	<div class="logo"></div>
	<button id="googleSignInBtn" class="button-landing"><span class="google-icon"></span>Sign in with <strong>Google</strong></button>
	<button id="signUpBtn" class="button-landing"><span class="email-icon"></span>Sign up with <strong>Email</strong></button>
	<p class="muted centered">Already have an account? <a href="#signIn" class="link">Sign in now</a></p>
</div>