<div class="container">
    <div id="sectionAndFullViewContainer" class="pull-left bordered-box">
    	<div class="section-view-header-container">
			<h2 id="sectionViewHeader" title="Sections Compile in Full View Below">Section View</h2>
		    <div class="sections-explanation">Sections Compile in Full View Below</div>
			<button id="addSectionBtn" class="button">Add a Section</button>
		</div>
        <div id="sectionsViewContainer" class="normal">paragraph</div>
        <div id="fullViewContainer">paper</div>
    </div>
    <div id="sourcesAndNotesContainer" class="pull-right bordered-box">Sources and Notes</div>
</div>
