<a id="logoNav" href="#projects"></a>
<ul class="nav-links">
    <li class="projects"><a href="#projects"></a></li>
    <li class="help-icon"><a href="javascript:void(0)"></a>
        <ul class="dropdown-menu">
            <li>Manage your projects here</li>
        </ul>
    </li>
    <li class="account">
    	<a href="javascript:void(0)"></a>
    	<ul class="dropdown-menu">
    		<li><a id="settings" href="javascript:void(0)">Your Settings</a></li>
    		<li><a href="#">Logout</a></li>
    	</ul>
    </li>
</ul>
