<section section-id="<%=id%>" class="sectionViewBoxContainer modal">
	<button class="closeBtn" title="Save and Close">

	</button>
	<div class="expand"></div>
	<textarea class="sectionTextArea canChangeFormatting" placeholder="<%=placeholder%>">sectionTextArea</textarea>
	<span class="glyphicon glyphicon-move pull-right"></span>
	<div class="sectionViewBoxFooter <%=color%>">
		<div class="sectionViewBoxFooterNumber"><%=footerNumber%></div>
		<div class="sectionViewBoxFooterTitleAndCount">
			<input class="sectionViewBoxFooterSectionTitle" value="<%=sectionTitle%>" placeholder="Add section title here"/> <div class="titleCountSeparator">|</div> <div class="sectionViewBoxFooterWordCount">sectionViewBoxFooterWordCount</div>
		</div>
	</div>
</section>